<div ng-controller="libraryCtrl">
   
<form role="search">
            <div>
              <input type="text" ng-model="searchTerm" placeholder="Author/Title" >
              <button ng-click="getBook(searchTerm)"> Submit </button>
            </div>
          </form>
        <div>
      <div> Your Search Results:</div>

         <ul>
        <li class="floating-box container" ng-repeat="googleBook in googleBooks" ng-click="postBook(googleBook)">

            <img class="thumb-pic image" style="width:100%" ng-src="{{googleBook.smallThumbnail}}">
            <div class="middle">
                <div class="text">{{googleBook.isbn}}<br/>{{googleBook.authors}}</div>
            </div>
        </li>
    </ul>
    </div>

   My Books
    <ul>
        <li class="floating-box container" ng-repeat="book in myBooks" ui-sref="book({isbn: book.isbn})">

            <img class="thumb-pic image" style="width:100%" ng-src="{{book.cover}}">
            <div class="middle">
                <div class="text">{{book.title}}<br/>{{book.author}}</div>
            </div>
        </li>
    </ul>
</div>