<div class="loginBackground">
    <div class="login">
        <div class="spine"></div>

        <h1>Bookshelf</h1>
        <h2>Log In</h2>
        <div align="center">
            <input type="text" placeholder=" Email"></input>
            <br/>
            <input type="password" placeholder=" Password"></input>
            <div class="button" ng-click='logOn()'>
                <p>Continue</p>
            </div>
<button><a ui-sref="register"> Register </a></button>
            </div>

            <div class="bottompage"></div>
            <div class="pages"></div>
        </div>
    </div>
</div>