<div class="loginBackground">
    <div class="login">
        <div class="spine"></div>

        <form class="loginForm">
            <h1>Bookshelf</h1>
            <h2>Register</h2>
            <div align="center">
                <input type="text" placeholder=" Name"></input>
                <br/>
                <input type="text" placeholder=" Email"></input>
                <br/>
                <input type="password" placeholder=" Password"></input>
                <div class="button">
                    <p>Continue</p>
                </div>
            </div>
        </form>

        <div class="bottompage"></div>
        <div class="pages"></div>
    </div>
</div>